@import "tailwindcss";

@theme {
  --font-logo: "Archivo Black", sans-serif;
  --font-sans: "Roboto", sans-serif;
}

html,
body {
  font-family: var(--font-sans);
}

button,
input,
textarea,
select {
  font: inherit;
}
